<a href="https://colab.research.google.com/github/matiasfeliu92/crud_provincias/blob/refactor%2Fprov-data/argentine_provinces_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Link a regiones argentinas
https://eviet.cancilleria.gob.ar/es/content/regiones-argentinas-0

Link a provincias argentinas con sus superficies y poblacion
https://cdn.educ.ar/dinamico/UnidadHtml__get__c9da45fe-4b48-11e1-82ba-ed15e3c494af/index.html

In [16]:
import pandas as pd
import psycopg2

In [17]:
conn = psycopg2.connect("postgresql://matiasmazparrotefeliu:francia1992@postgresql-matiasmazparrotefeliu.alwaysdata.net:5432/matiasmazparrotefeliu_arg_provinces") # USO LA DB DE PRODUCCION PARA CONSULTAR

In [18]:
df_provinces = pd.read_sql_query("SELECT * FROM \"arg_provinces\" ORDER BY name", conn)
df_provinces

<ipython-input-18-821c53343c71>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_provinces = pd.read_sql_query("SELECT * FROM \"arg_provinces\" ORDER BY name", conn)

,name,surface,region,density,population
0,Buenos Aires,307501.0,Pampas,44.96,12877203.0
1,Catamarca,102602.0,Noroeste,3.26,332390.0
2,Chaco,99633.0,Litoral,9.88,984446.0
3,Chubut,224686.0,Patagonia,1.84,413237.0
4,Córdoba,165321.0,Sierras,18.60,3066801.0
5,Corrientes,88199.0,Litoral,10.56,930991.0
6,Entre Ríos,78781.0,Litoral,14.70,1158147.0
7,Formosa,72066.0,Litoral,6.80,486559.0
8,Jujuy,53219.0,Noroeste,11.50,611888.0
9,La Pampa,143440.0,Noroeste,2.10,299294.0
10,La Rioja,89680.0,Noroeste,3.20,289983.0
11,Mendoza,148827.0,Cuyo,10.60,1579651.0
12,Misiones,29801.0,Litoral,32.40,965522.0
13,Neuquén,94078.0,Patagonia,5.00,474155.0
14,Río Negro,203013.0,Patagonia,2.70,552822.0
15,Salta,155488.0,Noroeste,6.90,1079051.0
16,San Juan,89651.0,Cuyo,6.90,620023.0
17,San Luis,76748.0,Sierras,4.80,367933.0
18,Santa Cruz,243943.0,Patagonia,0.80,196958.0
19,Santa Fe,133007.0,Litoral,22.56,3000701.0
20,Santiago del Estero,136351.0,Noroeste,5.90,804457.0
21,"Tierra del Fuego, Antártida",986418.0,Extremo austral,0.10,101079.0
22,Tucumán,22524.0,Noroeste,59.40,1338523.0

In [19]:
df_provinces.describe()

             surface    density    population
count      23.000000  23.000000  2.300000e+01
mean   162825.086957  12.411304  1.414427e+06
std    192377.854632  14.835837  2.616305e+06
min     22524.000000   0.100000  1.010790e+05
25%     83490.000000   3.230000  3.905850e+05
50%    102602.000000   6.900000  6.200230e+05
75%    160404.500000  13.100000  1.118599e+06
max    986418.000000  59.400000  1.287720e+07