<a href="https://colab.research.google.com/github/matiasfeliu92/crud_provincias/blob/refactor%2Fprov-data/argentine_provinces_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [127]:
import pandas as pd
import psycopg2

In [128]:
conn = psycopg2.connect("postgresql://matiasmazparrotefeliu:francia1992@postgresql-matiasmazparrotefeliu.alwaysdata.net:5432/matiasmazparrotefeliu_arg_provinces") # USO LA DB DE PRODUCCION PARA CONSULTAR

In [129]:
df_provinces = pd.read_sql_query("SELECT * FROM \"arg_provinces\" ORDER BY name", conn)
df_provinces

<ipython-input-129-821c53343c71>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_provinces = pd.read_sql_query("SELECT * FROM \"arg_provinces\" ORDER BY name", conn)

           name   surface     region  density  population
0  Buenos Aires  307501.0     Pampas    44.96  12877203.0
1     Catamarca  102602.0   Noroeste     3.26    332390.0
2         Chaco   99633.0    Litoral     9.88    984446.0
3        Chubut  224686.0  Patagonia     1.84    413237.0
4       Córdoba  165321.0    Sierras    18.60   3066801.0
5    Corrientes   88199.0    Litoral    10.56    930991.0